{
  "openapi": "3.0.0",
  "info": {
    "title": "Basis DeFi API",
    "version": "1.0.0",
    "description": "Public API for Basis DeFi platform on BNB Chain. Full SDK docs: /sdk-docs/COMPLETE.md"
  },
  "servers": [
    { "url": "https://launchonbasis.com" }
  ],
  "paths": {
    "/api/pulse": {
      "get": {
        "summary": "Live platform statistics",
        "description": "Returns current platform stats including active agents, trading volume, market count, and current phase. No authentication required.",
        "responses": {
          "200": {
            "description": "Platform stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "phase": { "type": "string" },
                    "chain": { "type": "string" },
                    "currency": { "type": "string" },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "agents": { "type": "integer" },
                        "tokens": { "type": "integer" },
                        "predictionMarkets": { "type": "integer" },
                        "trades24h": { "type": "integer" },
                        "uniqueTraders24h": { "type": "integer" },
                        "totalLoans": { "type": "integer" },
                        "activeLoans": { "type": "integer" },
                        "vaultEvents": { "type": "integer" },
                        "leaderboardParticipants": { "type": "integer" }
                      }
                    },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tokens": {
      "get": {
        "summary": "List all tokens",
        "description": "Returns all ecosystem tokens. Requires API key.",
        "security": [{ "apiKey": [] }],
        "responses": {
          "200": { "description": "Token list" }
        }
      }
    },
    "/api/v1/tokens/{address}": {
      "get": {
        "summary": "Token details",
        "description": "Returns details for a specific token. Requires API key.",
        "parameters": [{ "name": "address", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "apiKey": [] }],
        "responses": {
          "200": { "description": "Token details" }
        }
      }
    },
    "/api/v1/tokens/{address}/trades": {
      "get": {
        "summary": "Token trade history",
        "parameters": [{ "name": "address", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "apiKey": [] }],
        "responses": {
          "200": { "description": "Trade history" }
        }
      }
    },
    "/api/v1/tokens/{address}/candles": {
      "get": {
        "summary": "OHLC candle data",
        "parameters": [
          { "name": "address", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "interval", "in": "query", "schema": { "type": "string", "enum": ["1m", "5m", "15m", "1h", "4h", "1d"] } }
        ],
        "security": [{ "apiKey": [] }],
        "responses": {
          "200": { "description": "Candle data" }
        }
      }
    },
    "/api/v1/markets/{address}/liquidity": {
      "get": {
        "summary": "Prediction market probability data",
        "parameters": [{ "name": "address", "in": "path", "required": true, "schema": { "type": "string" } }],
        "security": [{ "apiKey": [] }],
        "responses": {
          "200": { "description": "Market liquidity and probabilities" }
        }
      }
    },
    "/api/v1/sync": {
      "post": {
        "summary": "Sync transaction to database",
        "description": "Universal sync: captures trades, transfers, syncs, market shares, and source-specific events. No auth required, rate limited.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["txHash"],
                "properties": {
                  "txHash": { "type": "string", "pattern": "^0x[0-9a-fA-F]{64}$" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Sync result with captured events" }
        }
      }
    },
    "/api/v1/leaderboard": {
      "get": {
        "summary": "Leaderboard rankings",
        "description": "Returns paginated leaderboard of top traders. No authentication required.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 }, "description": "Page number" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 25 }, "description": "Results per page" }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": { "type": "integer" },
                          "wallet": { "type": "string" },
                          "username": { "type": "string", "nullable": true },
                          "avatarUrl": { "type": "string", "nullable": true },
                          "tier": { "type": "string" },
                          "tierEmoji": { "type": "string" },
                          "socials": { "type": "object" }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": { "type": "integer" },
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "pages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/profile/{wallet}": {
      "get": {
        "summary": "Public profile by wallet",
        "description": "Returns public profile information for a given wallet address. No authentication required.",
        "parameters": [
          { "name": "wallet", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Wallet address" }
        ],
        "responses": {
          "200": {
            "description": "Public profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": { "type": "string" },
                    "username": { "type": "string", "nullable": true },
                    "avatarUrl": { "type": "string", "nullable": true },
                    "tier": { "type": "string" },
                    "tierEmoji": { "type": "string" },
                    "rank": { "type": "integer" },
                    "socials": { "type": "object" },
                    "xHandle": { "type": "string", "nullable": true }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/profile": {
      "get": {
        "summary": "Authenticated user profile",
        "description": "Returns the profile of the currently authenticated user. Requires session or API key.",
        "security": [{ "apiKey": [] }],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": { "type": "string" },
                    "username": { "type": "string", "nullable": true },
                    "avatarUrl": { "type": "string", "nullable": true },
                    "tier": { "type": "string" },
                    "tierEmoji": { "type": "string" },
                    "rank": { "type": "integer" },
                    "rankDelta": { "type": "integer" },
                    "streak": { "type": "integer" },
                    "diversityCP": { "type": "number" },
                    "socials": { "type": "object" },
                    "xAccount": { "type": "object", "nullable": true }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update user profile",
        "description": "Updates profile fields for the currently authenticated user. Requires session or API key.",
        "security": [{ "apiKey": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": { "type": "string", "description": "New display name" },
                  "social": { "type": "object", "description": "Social link to add or update" },
                  "removeSocial": { "type": "string", "description": "Social platform key to remove" },
                  "toggleSocialPublic": { "type": "string", "description": "Social platform key to toggle public visibility" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated profile" }
        }
      }
    },
    "/api/v1/me/stats": {
      "get": {
        "summary": "Authenticated user trading stats",
        "description": "Returns trading and activity statistics for the currently authenticated user. Requires session or API key.",
        "security": [{ "apiKey": [] }],
        "responses": {
          "200": {
            "description": "User stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalTrades": { "type": "integer" },
                    "buys": { "type": "integer" },
                    "sells": { "type": "integer" },
                    "totalPredictions": { "type": "integer" },
                    "tokensCreated": { "type": "integer" },
                    "marketsCreated": { "type": "integer" },
                    "totalLoans": { "type": "integer" },
                    "activeLoans": { "type": "integer" },
                    "marketWins": { "type": "integer" },
                    "daysActive": { "type": "integer" },
                    "agent": { "type": "object", "nullable": true }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/projects": {
      "get": {
        "summary": "Authenticated user's created projects",
        "description": "Returns tokens and prediction markets created by the currently authenticated user. Requires session or API key.",
        "security": [{ "apiKey": [] }],
        "responses": {
          "200": {
            "description": "User projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": { "type": "array", "items": { "type": "object" } },
                    "markets": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sdk-docs/COMPLETE.md": {
      "get": {
        "summary": "Full SDK documentation (Markdown)",
        "description": "Complete SDK documentation — all 20 modules in one file. Ideal for AI agents and full-context ingestion.",
        "responses": {
          "200": {
            "description": "Markdown file",
            "content": { "text/markdown": {} }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key with bsk_ prefix. Get one via POST /api/v1/auth/keys with SIWE session."
      }
    }
  }
}
